.imgcont{
	display: inline-block;
	height: 200px;
	width: 200px;
	margin: 7px;
}
.img1{
		background-image: url("../images/imagen1.jpg");
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center top;
	
}
.img2{
		background-image: url("../images/imagen2.jpg");
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center top;
}